<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.Orders" >
    <id column="orderId" property="orderId" jdbcType="INTEGER" />
    <result column="custId" property="custId" jdbcType="INTEGER" />
    <result column="totalMoney" property="totalMoney" jdbcType="DECIMAL" />
    <result column="buytime" property="buytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, custId, totalMoney, buytime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where orderId = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where orderId = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.Orders" useGeneratedKeys="true" keyProperty="orderId">
    insert into orders (orderId, custId, totalMoney, 
      buytime)
    values (#{orderId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{totalMoney,jdbcType=DECIMAL}, 
      #{buytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="custId != null" >
        custId,
      </if>
      <if test="totalMoney != null" >
        totalMoney,
      </if>
      <if test="buytime != null" >
        buytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.custId != null" >
        custId = #{record.custId,jdbcType=INTEGER},
      </if>
      <if test="record.totalMoney != null" >
        totalMoney = #{record.totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.buytime != null" >
        buytime = #{record.buytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set orderId = #{record.orderId,jdbcType=INTEGER},
      custId = #{record.custId,jdbcType=INTEGER},
      totalMoney = #{record.totalMoney,jdbcType=DECIMAL},
      buytime = #{record.buytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.Orders" >
    update orders
    <set >
      <if test="custId != null" >
        custId = #{custId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        totalMoney = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="buytime != null" >
        buytime = #{buytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.Orders" >
    update orders
    set custId = #{custId,jdbcType=INTEGER},
      totalMoney = #{totalMoney,jdbcType=DECIMAL},
      buytime = #{buytime,jdbcType=TIMESTAMP}
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>